/*Navigation CSS*/

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.name {
    font-size: 1.25em;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    display: inline;
  }

  .search {
    float: right;
  }

  .nav{
    display: none;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:100;
    padding:100;
    text-align:center;
    background-color:lightgreen;
}


/*Resize Images and Format Text*/

h1 {
  color: #2c5032;
  background-color: gold;
}	

h2 {
  font-size: 40px;
  color: #2c5032;
  text-align: center; 
  padding: 40px; 
}

.tag {
  width: 400px;
  height: 210px;
  border: 1px solid black;
  box-sizing: border-box;
  display: center; 
  margin-top: 50px; 
  background: lightgray;
}

.news {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto; 
  }

  .intro {
    font-size: 25px;
    text-align: center;
    padding: 10px; 
    color: #2c5032;
  }

  .announcements{
    padding: 60px; 
    margin-top: 10px; 
    margin-bottom: 50px; 
    font-size: 25px;
    font-weight: bold;  
}
  .announcement {
    display: block;
    float: left;
  }

/* Style cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 17px;
  bottom: 75px;
  text-align: center;
  background-color: #f1f1f1;
}


.footer {
  position: fixed;
	background: #d9e4ea;
  text-align: center; 
  padding: 20px; 
  z-index: 1000;
}




/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
  .nav,
  .row,
  .col {
    display: flex;
  }

  .nav li{
    display:inline-block;
    text-align: center;
    margin: 0 auto; 
    width: 300px; 
}
.nav a{
    display:inline-block;
    padding:10px;
}
.tag {
  width: 1335px;
  height: 330px;
  border: 1px solid black;
  box-sizing: border-box;
  display: center; 
  margin-top: 50px; 
  background: lightgray;
}
.col{
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: stretch;
}
  }

  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
}

@media (min-width: 1025px) {
  .nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.tag {
  width: 1335px;
  height: 330px;
  border: 1px solid black;
  box-sizing: border-box;
  display: center; 
  margin-top: 50px; 
  background: lightgray;
}